<h1>3:1 Data Structure and Sequence</h1>

<h2>Tuple</h2>

In [6]:
tup = 4,5,6
tup

(4, 5, 6)

In [7]:
#creating Tuples of tuples
nested_tup = (4,5,6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

In [8]:
#converting any Sequence or Iterator
tuple([4,0,2])

(4, 0, 2)

In [9]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [10]:
#values can be accessed with same method as me do in other languages C,C++ and Java
tup[0]

4

In [11]:
#once tuple is created then it can't be modified because it is immutable
tup = tuple(['foo',[1,2],True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [12]:
#But the object we have in the Tuple is mutable
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [13]:
#You can concatenate the two tuples with '+' operator
(4,None,'foo')+(6,0)+('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [14]:
#you can multiply the tuple with integer to make copies of them
('foo','bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

<h2>Unpacking Tuple</h2>

In [15]:
tup = (4,5,6)
a,b,c = tup
b

5

In [16]:
#even the sequences tuples
tup = 4,5,(6,7)
a,b,(c,d) = tup
d

7

In [17]:
#swaping the Variables names in many other languages
tmp = a
a = b
b = tmp

In [18]:
#but in python you can do like this
a,b = 1,2

In [19]:
a

1

In [20]:
b

2

In [21]:
b,a = a,b

In [22]:
a

2

In [23]:
b

1

In [24]:
# A Common use of variable unpacking is iterating over sequences of tuples or lists
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [25]:
# but in python you can do with '*rest'
values  = 1,2,3,4,5
a,b,*rest = values

In [26]:
a,b

(1, 2)

In [27]:
rest

[3, 4, 5]

In [28]:
#this 'rest' means when you want to discard other programmers also used '*_'
a,b,*_ = values
_

[3, 4, 5]

<h2>Tuple Methods</h2>

In [29]:
#count mehtod find the occurrences of a value
a = (1,2,3,3,4,6,3)
a.count(2)

1

<h2>List</h2>

In [30]:
a_list = [2,3,7,None]
tup = ('foo','bar','baz')
b_list = list(tup)

In [31]:
b_list

['foo', 'bar', 'baz']

In [32]:
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

In [33]:
#List and Tuple are samentically same but list can be modified its mutable
gen = range(10)
gen

range(0, 10)

In [34]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

<h2>Adding and Removing elements</h2>

In [35]:
#Elements can be appende by using "append" function
b_list.append('dwarf')

In [36]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [38]:
#you can insert with "insert" function over specific location
b_list.insert(1,'red')

In [39]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [40]:
#invers of insert of pop . it removes and return that removed element
b_list.pop(2)

'peekaboo'

In [41]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [42]:
#elenets can be removed by 'remove' function but the only first it gets
b_list.append("foo")

In [43]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [44]:
b_list.remove('foo')

In [45]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [46]:
#we can also check the wrod by 'in' keyword
'dwarf' in b_list

True

In [47]:
#n 'not' for negate
'dwarf' not in b_list

False

<h2>Concatenating and Combining lists</h2>

In [49]:
#Simiar to tuples we can add or concate the list with '+'
[4,None,'foo']+[7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [50]:
#if you have already defined list you can extend with 'extend' function
x = [4,None,'foo']
x.extend([7,8,(2,3)])

In [51]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [52]:
#use extend when you are working with big lists

<h2>Sorting</h2>

In [54]:
#you can sort a list by calling function 'sort' but it won't create new object
a  = [7,2,5,1,3]
a.sort()

In [55]:
a

[1, 2, 3, 5, 7]

In [2]:
#we can provide the option to the sort function
b = ['saw','small','he','foxes','six']

In [3]:
#we can sort the list with length wise
b.sort(key=len)

In [4]:
b

['he', 'saw', 'six', 'small', 'foxes']

<h2>Binary search and maintaining a sorted list</h2>

In [5]:
#bisect.bisect finds the location where number should be inserted
import bisect

In [6]:
c = [1,2,2,2,3,4,7]

In [7]:
bisect.bisect(c,2)

4

In [8]:
bisect.bisect(c,5)

6

In [9]:
#bisect.insort insert the element at provided location
bisect.insort(c,6)

In [10]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [11]:
#bsiect does not check that list is sorted or not

<h1>Slicing</h1>

In [12]:
# Start : stop
seq = [7,2,3,7,5,6,0,1]

In [13]:
seq[1:5]

[2, 3, 7, 5]

In [14]:
seq[3:4] = [6,3]

In [15]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [16]:
# if we don't provide the starting index then it means from 0 as same if don't provide the till index means till end
seq[:5]

[7, 2, 3, 6, 3]

In [17]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [18]:
# Negative indicies slice we we use to slice from end
seq[-4:]

[5, 6, 0, 1]

In [19]:
seq[-6:-2]

[6, 3, 5, 6]

In [20]:
# we can also provide the steps also
seq[::2]

[7, 3, 3, 6, 1]

In [21]:
# A better use of this step option is to provide -1 for reverse list or tuple
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]