<h1>3:1 Data Structure and Sequence</h1>

<h2>Tuple</h2>

In [1]:
tup = 4,5,6
tup

(4, 5, 6)

In [2]:
#creating Tuples of tuples
nested_tup = (4,5,6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

In [3]:
#converting any Sequence or Iterator
tuple([4,0,2])

(4, 0, 2)

In [4]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
#values can be accessed with same method as me do in other languages C,C++ and Java
tup[0]

4

In [6]:
#once tuple is created then it can't be modified because it is immutable
try:
    tup = tuple(['foo',[1,2],True])
    tup[2] = False
except:
    print("'tuple' object does not support item assignment")

'tuple' object does not support item assignment

In [7]:
#But the object we have in the Tuple is mutable
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [8]:
#You can concatenate the two tuples with '+' operator
(4,None,'foo')+(6,0)+('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [9]:
#you can multiply the tuple with integer to make copies of them
('foo','bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

<h3>Unpacking Tuple</h3>

In [10]:
tup = (4,5,6)
a,b,c = tup
b

5

In [11]:
#even the sequences tuples
tup = 4,5,(6,7)
a,b,(c,d) = tup
d

7

In [12]:
#swaping the Variables names in many other languages
tmp = a
a = b
b = tmp

In [13]:
#but in python you can do like this
a,b = 1,2

In [14]:
a

1

In [15]:
b

2

In [16]:
b,a = a,b

In [17]:
a

2

In [18]:
b

1

In [19]:
# A Common use of variable unpacking is iterating over sequences of tuples or lists
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [20]:
# but in python you can do with '*rest'
values  = 1,2,3,4,5
a,b,*rest = values

In [21]:
a,b

(1, 2)

In [22]:
rest

[3, 4, 5]

In [23]:
#this 'rest' means when you want to discard other programmers also used '*_'
a,b,*_ = values
_

[3, 4, 5]

<h3>Tuple Methods</h3>

In [24]:
#count mehtod find the occurrences of a value
a = (1,2,3,3,4,6,3)
a.count(2)

1

<h2>List</h2>

In [25]:
a_list = [2,3,7,None]
tup = ('foo','bar','baz')
b_list = list(tup)

In [26]:
b_list

['foo', 'bar', 'baz']

In [27]:
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

In [28]:
#List and Tuple are samentically same but list can be modified its mutable
gen = range(10)
gen

range(0, 10)

In [29]:

list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

<h3>Adding and Removing elements</h3>

In [30]:
#Elements can be appende by using "append" function
b_list.append('dwarf')

In [31]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [32]:
#you can insert with "insert" function over specific location
b_list.insert(1,'red')

In [33]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [34]:
#invers of insert of pop . it removes and return that removed element
b_list.pop(2)

'peekaboo'

In [35]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [36]:
#elenets can be removed by 'remove' function but the only first it gets
b_list.append("foo")

In [37]:

b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [38]:
b_list.remove('foo')

In [39]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [40]:
#we can also check the wrod by 'in' keyword
'dwarf' in b_list

True

In [41]:
#n 'not' for negate
'dwarf' not in b_list

False

<h3>Concatenating and Combining lists</h3>

In [42]:
#Simiar to tuples we can add or concate the list with '+'
[4,None,'foo']+[7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [43]:
#if you have already defined list you can extend with 'extend' function
x = [4,None,'foo']
x.extend([7,8,(2,3)])

In [44]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [45]:
#use extend when you are working with big lists

<h3>Sorting</h3>

In [46]:
#you can sort a list by calling function 'sort' but it won't create new object
a  = [7,2,5,1,3]
a.sort()

In [47]:
a

[1, 2, 3, 5, 7]

In [48]:
#we can provide the option to the sort function
b = ['saw','small','he','foxes','six']

In [49]:
#we can sort the list with length wise
b.sort(key=len)

In [50]:
b

['he', 'saw', 'six', 'small', 'foxes']

<h3>Binary search and maintaining a sorted list</h3>

In [51]:
#bisect.bisect finds the location where number should be inserted
import bisect

In [52]:
c = [1,2,2,2,3,4,7]

In [53]:
bisect.bisect(c,2)

4

In [54]:
bisect.bisect(c,5)

6

In [55]:
#bisect.insort insert the element at provided location
bisect.insort(c,6)

In [56]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [57]:
#bsiect does not check that list is sorted or not

<h3>Slicing</h3>

In [58]:
# Start : stop
seq = [7,2,3,7,5,6,0,1]

In [59]:
seq[1:5]

[2, 3, 7, 5]

In [60]:
seq[3:4] = [6,3]

In [61]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [62]:
# if we don't provide the starting index then it means from 0 as same if don't provide the till index means till end
seq[:5]

[7, 2, 3, 6, 3]

In [63]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [64]:
# Negative indicies slice we we use to slice from end
seq[-4:]

[5, 6, 0, 1]

In [65]:
seq[-6:-2]

[6, 3, 5, 6]

In [66]:
# we can also provide the steps also
seq[::2]

[7, 3, 3, 6, 1]

In [67]:
# A better use of this step option is to provide -1 for reverse list or tuple
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

<h2>Built-in Sequence Function</h2>

<h3>enumerate</h3>

In [68]:
# it works when we need index and value together it rethrn (index,value) of that sequence
some_list = ['foo','bar','baz']
mapping = {}

In [69]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [70]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

<h3>sorted</h3>

In [71]:
#sorted function returns a new sorted list
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [72]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

<h3>zip</h3>

In [73]:
#zip "pairs" up the lists,tuples or other sequences to create new lsit of tuples
seq1 = ['foo','bar','baz']

In [74]:
seq2 = ['one','two','three']

In [75]:
zipped = zip(seq1,seq2)

In [76]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [77]:
#zip can the multiple sequence but number of elements it produces is determined by the shortest sequence
seq3 = [False,True]
list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [78]:
#Common use of zip is to iterate over the multiple sequence,possibly also commbined with enumerate
for i, (a,b) in enumerate(zip(seq1,seq2)):
    print('{0}: {1}, {2}'.format(i,a,b))

0: foo, one
1: bar, two
2: baz, three

In [79]:
#zip function can also unzip the zipped sequecne. Another way to think about is converting a list of rows into a list of columns
pitchers = [('Nolan','Ryan'),('Roger','Clem'),('Schilling','Curt')]

In [80]:
first_names, last_names = zip(*pitchers)

In [81]:
first_names

('Nolan', 'Roger', 'Schilling')

In [82]:
last_names

('Ryan', 'Clem', 'Curt')

<h3>reversed</h3>

In [83]:
#it reverse the order of the sequence
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

<h2>dict</h2>

In [84]:
#dict is collection of key-value pairs, where key and value are Python Objecs
empty_dict = {}

In [85]:
d1 = {'a':'some value','b':[1,2,3,4]}

In [86]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [87]:
#you can access, insert or set elements with the same syntax we do in list and tuple
d1[7] = 'an integer'

In [88]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [89]:
d1['b']

[1, 2, 3, 4]

In [90]:
#you can check the dict keys with same syntax we did with list tuple
'b' in d1

True

In [91]:
# you can delete the values using del keyword or with pop method which also returns that value
d1[5] = 'some value'

In [92]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [93]:
d1['dummy'] = 'another value'

In [94]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [95]:
del d1[5]

In [96]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [97]:
ret = d1.pop('dummy')

In [98]:
ret

'another value'

In [99]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [100]:
#keys and values are not in any specific order in dict

In [101]:
#you can access keys of the dict with key function
list(d1.keys())

['a', 'b', 7]

In [102]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [103]:
#you can merge one dict to anther using the update method
d1.update({'b':'foo','c':12})

In [104]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

<h3>Creaing dicts from sequences</h3>

In [105]:
mapping = dict(zip(range(5),reversed(range(5))))

In [106]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

<h3>Default Values</h3>

In [107]:
"""We Have vey common logic like

    if key in some_dict:
        value = some_dict[key]
    else:
        value = default_value     
"""
#but with get function in dict we can do in one line

some_dict = {'a':'first letter','b':'Second letter'}
value = some_dict.get('c','ffff')

In [108]:
value

'ffff'

In [109]:
words = ['apple','bat','bar','atom','book']

In [110]:
by_letter = {}

In [111]:
"""for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
"""
#same methods 

for word in words:    
    letter = word[0]    
    by_letter.setdefault(letter, []).append(word)

In [112]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [113]:
# with the builit collentions module it makes more easy
from collections import defaultdict 
by_letter = defaultdict(list) 
for word in words:    
    by_letter[word[0]].append(word)

In [114]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

<h3>Valid dict key types</h3>

In [115]:
"""While the values of a dict can be any Python object, the keys generally have to be 
immutable objects like scalar types (int, float, string) or tuples (all the objects in the
tuple need to be immutable, too). The technical term here is hashability. You can 
check whether an object is hashable (can be used as a key in a dict) with the hash 
function"""

hash('string')

6230517748391879302

In [116]:
hash((1,2,3,(1,2,3)))

-6918653564849218042

In [117]:
try:
    hash((1,2,[2,3]))
except TypeError:
    print("unhashable type: 'list'")

unhashable type: 'list'

In [118]:
#one option is to use any list as a key to convert it into tuple
d = {}

In [119]:
d[tuple([1,2,4])] = 5

In [120]:
d

{(1, 2, 4): 5}

<h2>set</h2>

In [121]:
# A set is an unorderd collection of unique elements. you can think like dict but keys only not values
# a set can be created two ways 
set([2,2,2,2,1,3,3])

{1, 2, 3}

In [122]:
{2,2,2,2,1,3,3}

{1, 2, 3}

In [123]:
#sets support mathematical set operations like union, intersection, difference, and symmetric difference. Consider these two example sets:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

In [124]:
# we can perform union operation with 'union' function or with '|' binary operator
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [125]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [126]:
# intersection operation with 'intersection' or '&'
a.intersection(b)

{3, 4, 5}

In [127]:
a & b

{3, 4, 5}

<h3>Usefull mehtods of Table 3-1</h3>

In [128]:
#Add element to the se
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}
aadd = a
aadd.add(7)
a

{1, 2, 3, 4, 5, 7}

In [129]:
#Reset the set
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}
aaclear = a
aaclear.clear()
a

set()

In [130]:
#Remove the element
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}
aremove = a
aremove.remove(5)
aremove

{1, 2, 3, 4}

In [131]:
#Remove the element from set and rais keyError if the set is empty
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}
apop = a
apop =  apop.pop()
apop

1

In [132]:
# you can update it with 'update' and '|='

a = {1,2,3,4,5}
b = {3,4,5,6,7,8}
aupdate = a
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [133]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}
aupdatetwo = a
aupdatetwo |= b
aupdatetwo

{1, 2, 3, 4, 5, 6, 7, 8}

In [134]:
#instersect and update with 'intersection_update' and '&='
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}
aintersectupdate = a
aintersectupdate.intersection_update(b)
aintersectupdate

{3, 4, 5}

In [135]:
#you can do difference with 'difference' or 'a - b'
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}
adifference = a 
adifference.difference(b)
adifference

{1, 2, 3, 4, 5}

In [136]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}
adifferencetwo = a
adifferencetwo - b

{1, 2}

In [137]:
#you can difference and update with 'differnce' or 'a -= b'
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}
adifferenceupdate = a 
adifferenceupdate.difference_update(b)
adifferenceupdate

{1, 2}

In [138]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}
adifferenceupdatetwo = a
adifferenceupdatetwo -= b
adifferenceupdatetwo

{1, 2}

In [139]:
#All The elements in a or b but not both we can do with symmetric_difference(b) and' a ^ b'
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}
a.symmetric_difference(b)
a

{1, 2, 3, 4, 5}

In [140]:
a ^ b

{1, 2, 6, 7, 8}

In [141]:
#symmetrci difference update with symmentric_difference_update or 'a^=b'
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}
a.symmetric_difference_update(b)
a

{1, 2, 6, 7, 8}

In [142]:
a ^= b

In [150]:
#True if the elements of a are all contained in b
a.issubset(b)

False

In [151]:
#True if the elements of b are all contained in a
a.issuperset(b)

False

In [152]:
#True if a and b have no elements in common
a.isdisjoint(b)

False

In [153]:
c = a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [154]:
d = a.copy()
d &= b
d

{3, 4, 5}

In [155]:
#Like dicts, set elements generally must be immutable. To have
#list-like elements, you must convert it to a tuple:

my_data = [1,2,3,4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [156]:
#you can also check if a set is a subset of (is contained in) or a superset of (contains all
#elements of )another  set:
a_set = {1,2,3,4,5}
{1,2,3}.issubset(a_set)

True

In [157]:
a_set.issuperset({1,2,3})

True

In [158]:
#sets are equal if and only if their contents are equal
{1,2,3} == {3,2,1}

True

<h3>List, Set and Dict Comprehensions</h3>

In [159]:
#List comprehensions allow you to concisely form a new list 
#by filtering the elements of a collection, transforming 
#the elements

strings = ['a','as','bat','car','dove','python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [160]:
#Producing sets and dicts in a idiomatically similar way
#instead of lists 

unique_lenghts = {len(x) for x in strings}
unique_lenghts

{1, 2, 3, 4, 6}

In [161]:
set(map(len, strings))

{1, 2, 3, 4, 6}